.jumbotron
  %h1.display-4
    Чему хотите научиться сегодня?
  .p-2
  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Искать курс', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    .text-center
    = Course.count
    курсов
    .row
    .text-center
    %p
    Открой для себя новые области
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    инструкторов
    .row
    %p 
    Выбери себе подходящего учителя
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    учеников
    %p
    .row
    Присоединяйся и делись знаниями
  .card.card-body
    %h1
      .fa.fa-infinity
    Пожизненный доступ
    .row
    %p
    Изучай когда тебе удобно
%hr
%h3 Популярные курсы
%p 
.card-columns
  = render partial: 'courses/course', collection: @courses
%hr
%h3 С высокой оценкой
%p 
.card-columns
  = render partial: 'courses/course', collection: @courses
%hr
%h3 Новые курсы
%p 
.card-columns
  = render partial: 'courses/course', collection: @latest_courses
