.card
  .card-header
    .fa.fa-user
    = user.email
  .card-footer
    Зарегистрирован:
    = time_ago_in_words(user.created_at)
    .row
    Кол-во логинов:
    = user.sign_in_count
    .row
    Актуальный логин:
    = user.current_sign_in_at
    .row
    Последний логин:
    = user.last_sign_in_at
    .row
    Настоящий IP
    = user.current_sign_in_ip

